* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  position: relative;
  width: 750px;
  height: 750px;
  margin: 0 auto;
  top: 50px;
  border: 1px solid black;
}

.innerApp {
  position: relative;
  top: 50px;
}

.title {
  position: relative;
  bottom: 20px;
  font-family: 'Lobster', cursive;
  color: salmon;
}
/*^^^^^^^^^^^^^^outside^^^^^^^^^^^^*/

.wrapper {
  margin: 0 auto;
  border: 1.8px solid rgb(249,241,241);
  height: 550px;
  width: 550px;
  border-radius: 10px;
}

/****************inside*************/
