* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  position: relative;
  width: 750px;
  height: 750px;
  margin: 0 auto;
  top: 50px;
}

.innerApp {
  position: relative;
  top: 50px;
}
/******************************************************/

.wrapper {
  margin: 0 auto;
  border: 1px solid rgb(249,241,241);
  height: 550px;
  width: 550px;
  border-radius: 25px;
}
